// ==========================================================================
// Variables
// ==========================================================================

// Base colors
$color-primary: #598045;
$color-secondary: 		adjust_hue($color-primary, -75);
$color-tertiary: 		adjust_hue($color-primary, -45);


$shadow: 1px 1px 1px rgba(0,0,0,.1);